/* ------------------------------------- Common ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    position: relative;
    background-color: #081421;
    height: 100vh;
    max-height: 100vh;
}

.content-wrapper {
    width: 100%;
    min-height: calc(100vh - 135px);
    padding-bottom: 135px;
}

.main-bar {
    color: #fff;
    text-align: center;
    font-size: xx-large;
    padding: 0.5em 0;
}

.main-bar ul.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    list-style-type: none;
}

.main-bar ul.links a {
    text-decoration: none;
    color: #38c172;
    font-size: 0.75em;
}

.main-bar ul.links a:hover {
    text-decoration: underline;
}

.main-bar span {
    user-select: none;
}

/* ------------------------------------- Input container ------------------------------------- */

.input-container {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: 0 auto;
    padding: 0.5em;
  }

input#input_text {
    width: 100%;
    height: 2em;
    margin: 0 auto;
    padding-left: 0.5em;
    font-size: 1em;
    border: 1px solid #D0CFCE;
    border-radius: 2px;
    outline: none;
    color: white;
    background: none;
}

/* ------------------------------------- Suggestions ------------------------------------- */

.suggestions {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding: 1em 0;
    margin-top: 1em;
}

.suggestions input {
    flex: 1 0 10%;
    appearance: none;
    outline: none;
    border: 1px solid #D0CFCE;
    font-size: 0.8em;
    padding: 0.5em 0;
    text-align-last: center;
    width: 10em;
    margin: 1em;
    background: none;
    color: white;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    cursor: pointer;
}

.suggestions input:hover {
    background-color: #38c171a6;
}

/* ------------------------------------- Passwords ------------------------------------- */
.passwords-wrapper {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
}

/* ------------------------------------- Constraints container ------------------------------------- */

.constraints-container {
    width: 33%;
    margin: 0 auto;
    color: #fff;
    user-select: none;
}

.constraints-container .field {
    display: flex;
    flex-flow: column-reverse;
    padding-top: 1em;
    color: white;
}

button[type="button"] {
    background: transparent;
    color: #fff;
    appearance: none;
    padding: 1%;
    border: 1px solid grey;
    width: 33%;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-content: center;
    margin: 1em 0;
}

.constraints-container input {
    font-size: 1em;
    padding: 0.2em 0.5em;
    border: none;
    outline: 0;
    border: 1px solid grey;
    border-radius: 4px;
    background: none;
    cursor: default;
    color: white;
    cursor: text;
    appearance: textfield;
}

.constraints-container label.checkbox {
    margin: 0 auto;
}

input:checked + label.checkbox {
    color: #38c172;
    transition: all 0.2s ease-in-out;
}

label.checkbox:hover {
    color: #38c171b7;
    cursor: pointer;
}

.constraints-container input[type="checkbox"] {
    display: none;
}

.constraints-container .submit {
    display: flex;
    justify-content: center;
}

.constraints-container .submit label {
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    text-align: center;
}

.constraints-container .submit label:hover {
    color: #faad63;
    cursor: pointer;
}

/* ------------------------------------- Passwords container ------------------------------------- */

.passwords-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
    max-height: 50vh;
    overflow: scroll;
    scrollbar-width: none;
}

.passwords-container span {
    padding: 1em;
    margin-top: 0.1em;
    font-size: 0.8em;
    border: 1px solid grey;
    text-align: center;
    height: min-content;
}

/* ------------------------------------- Footer ------------------------------------- */

footer {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 100%;
    border-top: .05em solid grey;
}

footer .text {
    color: #fff;
    font-size: 0.8em;
    padding-left: 0.2em;
}

footer a {
    color: dodgerblue;
}

button#download_button {
    display: block;
    margin: 1em auto;
    padding: 0.75em;
    width: auto;
    text-align: center;
    visibility: hidden;
}

button#download_button:hover {
    color: #faad63;
    cursor: pointer;
}
